.app__header{
    background-color: black;
}
.app__wrapper{

}

.app__wrapper_info{
    width: 50%;

}

.app__wrapper_img{
    width: 50%;
}

.app__header-h1{
    color: goldenrod;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}
.p__opensuns{
    color: white;
}
.app__wrapper_img{
    display: flex;
    justify-content: flex-end;
}
.app__wrapper_img img{
    width: 70%;
}

@media screen and (max-width: 1050px) {
    .app__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .section__padding {
        padding: 2rem 4rem;
    }

    .app__header-h1{
        color: goldenrod;
        letter-spacing: 6px;
        text-transform: uppercase;
        line-height: 60px;
        font-size: 40px;
    }
    .app__wrapper_info{
        width: 65%;
    
    }
    
    .app__wrapper_img{
        width: 360px;
    }
    
}

@media screen and (max-width: 500px) {
    .app__wrapper_img{
        justify-content: center;
        width: 280px;
    }
    .section__padding {
        padding: 1rem 2rem;
    }
    .app__wrapper_info{
        width: 85%;
    
    }
}
