.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__padding {
    padding: 4rem 6rem;
}

.app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.p__opensans {
    color: white;
}

.p__opensans a {
    text-decoration: none;
    color: white;
}

.custom__buttom {
    width: 141px;
    height: 44px;
    padding: 8px, 32px, 8px, 32px;
     background: #DCCA87;
     border: none;
}
.app__bg{
    background: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}